@using Finbuckle.Website.Infrastructure
@inject DocVersionService DocVersionService

<div class="d-xl-none me-auto d-inline-block">
    <div class="dropdown">
        <a href="#" class="nav-link dropdown-toggle fs-4 pt-0 px-0" data-bs-toggle="dropdown">
            @if (_docVersion is not null)
            {
                <text>@(_docVersion.Version)</text>
            }
            else
            {
                <text>Version</text>
            }
        </a>
        <ul class="dropdown-menu">
            @foreach (var version in DocVersionService.LatestMajorVersions)
            {
                {
                    <li>
                        <a class="dropdown-item"
                           href="@($"MultiTenant/Docs/v{version.Version}/{PageId}")">v@(version.Version)</a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="dropdown d-xl-none">
        @if (_docVersion is not null)
        {
            @if (_docVersion.Index.TryGetValue(PageId, out var value))
            {
                <a href="#" class="nav-link dropdown-toggle px-0 w-100" data-bs-toggle="dropdown">
                    @((MarkupString)(value))
                </a>
            }
            <ul class="dropdown-menu">
                @foreach (var page in _docVersion.Index)
                {
                    <li>
                        <a class="dropdown-item nav-link"
                           href="MultiTenant/Docs/v@(_docVersion.Version)/@(page.Key)">@((MarkupString)page.Value)</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<div class="d-none d-xl-block">
    <div class="dropdown">
        <a href="#" class="nav-link dropdown-toggle fs-4 pt-0" data-bs-toggle="dropdown">
            @if (_docVersion is not null)
            {
                <text>v@(_docVersion.Version)</text>
            }
            else
            {
                <text>Version</text>
            }
        </a>
        <ul class="dropdown-menu">
            @foreach (var version in DocVersionService.LatestMajorVersions)
            {
                <li>
                    <a class="dropdown-item"
                       href="MultiTenant/Docs/v@(version.Version)/@(PageId)">v@(version.Version)</a>
                </li>
            }
        </ul>
    </div>
    @if (_docVersion is not null)
    {
        @foreach (var page in _docVersion.Index)
        {
            if (PageId == page.Key)
            {
                <a class="nav-link active w-100"
                   href="MultiTenant/Docs/v@(_docVersion.Version)/@(page.Key)">@((MarkupString)page.Value)</a>
            }
            else
            {
                <a class="nav-link w-100"
                   href="MultiTenant/Docs/v@(_docVersion.Version)/@(page.Key)">@((MarkupString)page.Value)</a>
            }
        }
    }
</div>

@code {
    private DocVersionService.DocVersion? _docVersion = null!;

    [Parameter] public string PageId { get; set; } = null!;

    [Parameter] public Version Version { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        _docVersion = DocVersionService.Versions.SingleOrDefault(dv => dv.Version == Version);
    }

}